parameters:
	ignoreErrors:
		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\Nette\\\\NetteCache\\:\\:setMultiple\\(\\) has parameter \\$values with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/Nette/NetteCache.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\Nette\\\\Storage\\\\MemoryTtlStorage\\:\\:clean\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Nette/Storage/MemoryTtlStorage.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\Nette\\\\Storage\\\\MemoryTtlStorage\\:\\:validate\\(\\) has parameter \\$dependencies with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Nette/Storage/MemoryTtlStorage.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\Nette\\\\Storage\\\\MemoryTtlStorage\\:\\:validate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Nette/Storage/MemoryTtlStorage.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\Nette\\\\Storage\\\\MemoryTtlStorage\\:\\:write\\(\\) has parameter \\$data with no type specified\\.$#"
			count: 1
			path: src/Nette/Storage/MemoryTtlStorage.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\Nette\\\\Storage\\\\MemoryTtlStorage\\:\\:write\\(\\) has parameter \\$dependencies with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Nette/Storage/MemoryTtlStorage.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\PSR16\\\\Locking\\\\CacheLock\\:\\:setMultiple\\(\\) has parameter \\$values with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/PSR16/Locking/CacheLock.php

		-
			message: "#^Method h4kuna\\\\CriticalCache\\\\PSR16\\\\Pool\\\\CachePool\\:\\:setMultiple\\(\\) has parameter \\$values with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/PSR16/Pool/CachePool.php
